@model PhotoAlbum.Models.Photo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Photo</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PhotoId" />

            <!-- Include the original filename in the form -->
            <input type="hidden" asp-for="Filename" />

            <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* <div class="mb-3">
                <label asp-for="Filename" class="control-label"></label>
                <input asp-for="Filename" class="form-control" />
                <span asp-validation-for="Filename" class="text-danger"></span>
            </div> *@
            <div class="mb-3">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" readonly />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div>
                <img src="/photos/@Model.Filename" alt="@Model.Title" class="thumbnail" />
            </div>

            <div class="mb-3">
                <label class="control-label">Change Photo:</label>
                <input asp-for="FormFile" class="form-control" />
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
